/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-12-24, 14:22:58
    Author     : lx
*/



.demo{
 
     width: 100%;
    background: #ccffff;
    height: auto;
}
.top{
  
     min-width: 900px;
    
    width: 100%;
    height: 100px;
    background: #e5e5e5;
    padding-top: 5px;
}
.logo img{
 
    width: 80px;
    height: 80px;
    float: left;
}
.search input{
    float: right;
    margin:20px 20px 0 0;
    border-radius: 25px;
    width: 270px;
    outline: none;/*当鼠标点击输入框后“边框不会变蓝”*/
    background-image:url(../resource/search-icon.png);
    background-repeat: no-repeat;/* 这样图标才不会重复*/
    background-size: 18px 18px;/* 规定图标大小*/
    background-position: 96%;       /*对图标的位置进行定位*/
  
   
 
}

.content{
   
   
    width: 100%;
    height: 600px;
    float: left;
   
}

.show_tab{
     min-width: 800px;
    position: absolute;
    width: 100%;
    top:100px;
    left: 0;
    height: 50px;

}
.tab{
   // overflow: hidden;
    left: 0;
    top: 100px;
    width: 100%;
    height: 50px;
    color: #666;
    background:#f8f8f8;
     
    
} 
.tab .tab-item{
    display: inline;
    float: left;
    width: 12%;
    height: 50px;
    text-align: center;
    font:15px/50px "Microsoft Yahei";/*设置字的大小和字体*/
    border-left:2px solid #e5e5e5;/*设置字旁边的线*/
    margin-right: 0.1%;
    
}
.tab .tab-active{
    color: #00be3c;
    background: #fff;
    border-top: 2px solid #00be3c;
    margin: -1px 0;/*抵消border添加多的2px*/
}

.bg{
  
    width: 100%;
    height: 100%;
    background: #333333;
}

.arrow{
    width: 100px;
    height: 80px;
    float: right;
   
  
}

.arrow p{
    
    
}


.bg .img{
    min-width: 800px;
    width: 100%;
     height: 100%;
    margin: 0 auto;
}

.bg .img img{
    
    width: 100%;
   height: 100%;
    margin: 0 auto; /*居中对齐*/
     
}

.cont{
    
  //  display: inline-block;
    min-width: 800px;
    
    width:100% ;
    min-width: 800px;
    height: 350px;
    background: #666;    
   overflow: hidden;
}
.cont-l{
    
 
     float: left;
    width: 32%;

    color: white;
}
.cont-l h3 {
    padding-top: 10px;
    padding-left: 20px;
 margin: 0 auto;
    width: 100%;
    float: left;
    font:25px/50px "Microsoft Yahei";/*设置字的大小和字体*/
}
.cont-l  .link{
    padding-top: 20px;
    display: block;
    float: left;

   
}
.cont-l .link a {
   font:15px/30px "Microsoft Yahei";/*设置字的大小和字体*/
   text-decoration: none;
    color: white;
   
}

.cont-l .date{
    padding: 20px 50px 10px 0px;
    float: right;
    font:15px/30px "Microsoft Yahei";/*设置字的大小和字体*/
   
}
.cont-m{
 
    float: left;
  width: 32%;

  
}

.cont-m h3{
   padding-top: 10px;
    width: 100%;
    float: left;
    font:25px/50px "Microsoft Yahei";/*设置字的大小和字体*/
     color: white;
    margin: 0 auto;
}

.cont-m .link{
    width: 70%;
    padding-top: 20px;
    display: inline;
    float: left;
   
   
}
.cont-m .link p:first-child{
   font:15px/30px "Microsoft Yahei";/*设置字的大小和字体*/
  color: #ffffff;
    text-indent: 2em;/*将段落的第一行缩进2个字*/
   
}
.cont-m .link p:last-child{
    height: 85%;
    
    font:14px/30px "Microsoft Yahei";/*设置字的大小和字体*/
     text-indent: 2em;/*将段落的第一行缩进2个字*/
     color: #333333;
}
.cont-r{

 position: relative;
 
    float: left;
    width: 32%;
    height: 100%;
    
  
}
.cont-r h3{
   padding-top: 10px;
   padding-left: 50px;
    width: 100%;
    float: left;
    font:25px/50px "Microsoft Yahei";/*设置字的大小和字体*/
     color: white;
   
}

.cont-r .note{
    float: left;
    position:absolute ;
    top: 30%;
    left: 30%;
     font:15px/30px "Microsoft Yahei";/*设置字的大小和字体*/
     color: #ffffff;
    text-indent: 2em;/*将段落的第一行缩进2个字*/
   padding:20px; 
  
}
.cont-r .more{
    position:absolute ;/*父类中填relative 子类中填absolute left right top bottom能实现基于父类的定位*/
    right :15px;   
    bottom: 50px;
    float: left;
    background: #00be3c;
    width: 70px;
    height: 30px;
    border-radius: 3px;
    
}
.cont-r .more p{
    color: white;
     font:15px/30px "Microsoft Yahei";/*设置字的大小和字体*/
    
    text-align: center;//字符居中
}

.content .picWall{
  
    width: 100%;
    height: 400px;
  
}
.img_pic{
    width: 100%;
    float: left;
    height: auto;
    background-image:url(../resource/wave.jpg);
    
    
}
.title-top{
   
   
   width: 100%;
   height: 50px;
   background-color: #006666;
}
.title{
    margin: 0.5% auto;
     float: left;
     width:41%;
   
   
}

.title1{
     text-align: center;
     float: left;
      width: 17%;
    height:100%;
      //border-bottom:2px solid #e5e5e5;/*设置字旁边的线*/
      //  border-right:4px solid #e5e5e5;/*设置字旁边的线*/
}
.title1 p{
    padding-top: 10px;
      letter-spacing:10px; /*字符间距*/
      font:30px/30px "Microsoft Yahei";/*设置字的大小和字体*/
      color: #ffffff;
}
.bean_l{
     
   float: right;
   
    width: 0;
    height: 0;
    border: 15px solid #00be3c;
    border-radius: 15px;
    border-right-color: #006666;
    
}
.bean_r{
    
   float: left;
   
    width: 0;
    height: 0;
    border: 15px solid #00be3c;
    border-radius: 15px;
    border-left-color:#006666;
}
.pic_img{
    position: relative;
    height: 400px;
    width: 100%;
    
    
}
.pic{
  float: left;
    height: 100%;
    width: 100%;
   // background-color: #006666;
    background-image: 
}

.pic_border{
    
    float: left;
    width: 20%;
    height: 100%;
    margin: 0 auto;
}
.photo{
    margin: 10% auto;
  
   border: 10px solid green;
    float: left;
    width:250px;
    height: 300px;

    background-color: #ffffff;
}

.photo img{
    width: 100%;
    height: 100%;
}
.footer{
    
    height: 100px;
    width: 100%;
    background-color: #666;
    
}